<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="BBRZ.DAL.Properties.Settings.CodersBayConnectionString"
        connectionString="Data Source=LP12Win10\SQL2K17;Initial Catalog=CodersBay;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>